<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forloop</title>
</head>
<body>
    <center>
    <h1>for loop</h1>
    <h1>this is printing</h1>
    <h1>{{name}}</h1>
    </center>
    <center>
        <h2>this is loop</h2>
        <h2>
            {% for i in name %}
               {{i}}
            {% endfor %}   
        </h2>
    </center>
    <h3>this seprate print of contain in for loop</h3>
        {% for i in name %}
          <h1>{{i}}</h1>
        {% endfor %}  
</body>
</html>